
<p>
  <strong>שם:</strong>
  <%= @staff.name %>
</p>
<p>
  <strong>תפקיד:</strong>
  <% case @staff.staffable_type %>
  <% when "Group" %>
    מדריך.ת קבוצת
  <% when "Head" %>
    ראשראש.ית
  <% when "Axis" %>
    רכז.ת ציר
  <% end %>
  <%= @staff.staffable.name %>
</p>
