<h1><%= @level_names[3] %></h1>

<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-heads" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="head_counter" data-orderable="false" data-searchable="false">נוכחות</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>

<%= link_to "#{@level_names[2]} חדש", new_head_path if @level > 2 %>
