<h1><%= @level_names[1] %></h1>

<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-groups" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="group_counter" data-orderable="false" data-searchable="false">נוכחות</th>
        <th data-data="last_attendence" data-orderable="false">נוכחות אחרונה</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>

<%= link_to "#{ @level_names[0] } חדשה", new_group_path if current_staff.admin? %>
