<h1>יומן אירועים</h1>

<%= link_to 'אירוע חדש', new_event_path, class: "btn btn-primary-cus" %>
<%= link_to "איפוס", reset_events_path, class: "btn btn-danger", data: { confirm: 'את/ה בטוח/ה?' } if current_staff.vip? %>
<%# link_to  'ייצוא הטבלה לאקסל', events_path(format: :xlsx), class: "btn btn-primary-cus" if !current_staff.user? %>

<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-events" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-grey">
      <tr>
        <th data-data="content">פירוט</th>
        <th data-data="level">דרגה</th>
        <th data-data="date" data-orderable="false">תאריך</th>
        <th data-data="made">נוצר על ידי</th>
        <th data-data="belongs">שייך ל</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>
