<h1>מפעלים</h1>

<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-mifals" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="mifal_counter" data-orderable="false" data-searchable="false">נוכחות</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>

<p>
  סה"כ:
  <strong class="total"></strong> מתוך <strong><%= mifals_total %></strong>
</p>
<%= link_to 'מפעל חדש', new_mifal_path %>

<script>
  $(document).ready(function(){
  var x = 0;
  setTimeout(function(){
    $(".for_sum").each(function(){
    x += Number($(this).text());
    })
    $(".total").html(x);
   }, 1000);
  });
</script>
