<h1>צירים</h1>

<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-axes" data-sort="false" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="axis_counter" data-orderable="false" data-searchable="false">נוכחות</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>

<%= link_to 'ציר חדש', new_axis_path if @level > 3 %>
