<%= form.text_field :event_kinds,style: "display: inline;", multiple: true,value: "",class: "form-control w-25 m-1 event_kinds" %>
<!-- <div class="btn btn-danger btn-sm btn-round delete_button" id="delete_button">
  <i class="icon icon-times-solid"></i>
</div> -->
