<h1>יצירת הראשים</h1>

<%= render layout: 'form' do |form| %>
  <% @mifal.axes.each_with_index do |a,i| %>
    <div class="field">
      <%= form.label "head_num_#{i}".to_sym, "כמה ראשים יש ב#{a.name}?" %>
      <%= form.number_field "head_num_#{i}".to_sym, value: a.heads.count %>
    </div>
  <% end %>
<% end %>
