<h1>ייבוא החניכים מתוך טבלה</h1>
<%= form_tag import_kids_path, multipart: true do %>
  <%= file_field_tag :file, class: 'form-control' %><br>
  <div class="form-actions">
    <%= submit_tag 'ייבוא מקובץ xlsx', class: 'btn btn-primary'%>
    או
    <%= link_to "דילוג לשלב הבא", next_wizard_path, class: "btn btn-primary" %>
  </div>
<% end %>
