/*
*= require select2
*= require select2-bootstrap
*= require jquery-ui
*/
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css');
@import "bootstrap";
// @import "font-awesome";
@import "checks";

.check-link {
  text-decoration: none;
  color: red;
}

.block{
  display: block;
}

.text-center{
	text-align: center;
}
.btn-round{
  border-radius: 50%;
}
table.dataTable {
    width: 100% !important;
}
.btn-light{
    border: #d3d3d34f;
}

.inline{
  display: inline;
}
html {
  direction: rtl;
}
.user-position{
  position: fixed;
  left: 10px;
}

.user-size{
  font-size: 20px;
}
.user-position-mobile{
    // float: right;
}

.header {
   grid-area: header;
   height: 30px;
   background: #e2e2e2;
   width: 100%;
   right: 15vw;
   position: fixed;
   z-index: 9999;
 }

.side {
   grid-area: menu;
   position: fixed;
   width: 15vw;
   height: 100%;
   z-index: 9999;
}
.main {
  right: 15vw;
  width: 83vw;
  top: 30px;
  position: absolute;
  grid-area: main;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'menu header '
    'menu main '
    'menu main ';
width: 115

}


body {
  // overflow-x: hidden;
  height: 100%;
  width:100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

* {
  font-family: 'Rubik', sans-serif;
}

.hidden{
  display: none;
}

.icon-size{
  font-size:20px;
}
.font-size-whatsapp{
  font-size: 30px
}

.url-width{
  min-width: 75px
}
.kid-info{
  height:500px;
  ul {

    list-style: none;
    padding:inherit;
      padding-left:25px;
    li {
      height:30px;
    }
  }
}


  #wrapper {
    text-align: right;
    // padding-right: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: 16% auto;
    // grid-column-gap: 2em;
  }



#sidebar-wrapper {
  background: #0984e3;
  z-index: 1000;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

//
#page-content-wrapper {
  padding: 0.5em;
  padding-left: 0;
}
// @media(min-width:1025px) {
//   #page-content-wrapper {
//     width: 1800px;
//   }
// }
//
// #wrapper.toggled #page-content-wrapper {
//   position: absolute;
//   margin-right: -250px;
// }


/* Sidebar Styles */
.active {
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav {

  // top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}


.sidebar-nav li {
  text-align: right;
  line-height: 45px;
  font-size: 1.2em;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;

}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

// .sidebar-nav>.sidebar-brand {
//   height: 65px;
//   font-size: 18px;
//   line-height: 60px;
// }
//
// .sidebar-nav>.sidebar-brand a {
//   color: #999999;
// }
.sidebar-brand a {
  color:white;
  height: 150px;
  text-align: center;
  width: 100%;
  text-indent:0;
  text-decoration: none;

    h1 {
      margin-top: 10px;
      line-height: 75px;
      font-family: 'Secular One', sans-serif;
    }
}
.dropdown-element{
  text-align: right;
  margin: 5px
}

.dropdown-toggle::after {
  display:none;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}


  #navbar {
    display: none;
  }

.center-login{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.kid-info {
  width: auto;
  height: 800px;
  border: 4px solid lightgray;
  padding: 23px;
  border-radius: 20px;
  margin-bottom: 25px;
    ul {
      li {

        line-height: 30px;
      }
    }
}


.table-container {
}
.table-responsive {
    display: block;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // height: 84vh;
}
.page-wrapper-margin{
  margin-top: 50px !important;
}

div.dt-buttons {
  margin-left: 10px;
}
  // #wrapper {
  //   padding-left: 250px;
  // }
  //
  // #sidebar-wrapper {
  //   width: 250px;
  // }
  //
  // #page-content-wrapper {
  //   padding: 20px;
  //   position: relative;
  // }
  // #wrapper.toggled #page-content-wrapper {
  //   position: relative;
  //   margin-right: 0;
  // }

  @import "datatables";
  @import "mobile";
