/*
*= require select2
*= require select2-bootstrap
*= require jquery-ui
*/
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css');
@import "bootstrap";
// @import "font-awesome";
@import "checks";

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.check-link {
  text-decoration: none;
  color: red;
}

.block{
  display: block;
}

a{
  color: #3a7293;
}

.navbar{
  box-shadow:0 2px 23px 6px rgba(0,0,0,0.10);
  padding: 0;
}

.navbar-toggler {
   color: black !important;
   border-color: rgba(0, 0, 0, 0.0) !important;
}

.btn-plus{
  height: 65px;
  width: 65px;
  position: relative;
  top: -12px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.07);

    i{
      font-size:1.6rem;
    }
}

table.dataTable thead.sorting_asc {

}

.plus-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navbar-toggler:focus {
   color: 0;
   background-color: 0;
   border-color: 0;
   outline: 0;
   box-shadow: 0 0 0;
}

#dttb-kids_filter input {
  background: url('/assets/search-solid.svg') no-repeat scroll left center / 15px auto;
  background-position: 5px;
  background-color: rgba(226, 225, 225, 0.5);
  border: none;
  border-radius: 5px;
}
#dttb-kids_filter input:focus {
    color: 0;
    background-color: 0;
    border-color: 0;
    outline: 0;
    box-shadow: 0 0 0;
}
.text-secondary{
  color: #35ced4 !important;
}
.text-primary{
  color: #3a7293 !important;
}


.text-grey{
  color: #6e6e6e;
}
.btn-primary-cus {
  color: #ffffff;
  background-color: #35CED4;
  border-color: #31BCC1;
}

.btn-primary-cus:hover,
.btn-primary-cus:focus,
.btn-primary-cus:active,
.btn-primary-cus.active,
.open .dropdown-toggle.btn-primary-cus {
  color: #ffffff;
  background-color: #2CA9AE;
  border-color: #31BCC1;
}

.btn-primary-cus:active,
.btn-primary-cus.active,
.open .dropdown-toggle.btn-primary-cus {
  background-image: none;
}

.btn-primary-cus.disabled,
.btn-primary-cus[disabled],
fieldset[disabled] .btn-primary-cus,
.btn-primary-cus.disabled:hover,
.btn-primary-cus[disabled]:hover,
fieldset[disabled] .btn-primary-cus:hover,
.btn-primary-cus.disabled:focus,
.btn-primary-cus[disabled]:focus,
fieldset[disabled] .btn-primary-cus:focus,
.btn-primary-cus.disabled:active,
.btn-primary-cus[disabled]:active,
fieldset[disabled] .btn-primary-cus:active,
.btn-primary-cus.disabled.active,
.btn-primary-cus[disabled].active,
fieldset[disabled] .btn-primary-cus.active {
  background-color: #35CED4;
  border-color: #31BCC1;
}

.btn-primary-cus .badge {
  color: #35CED4;
  background-color: #ffffff;
}
.thead-grey{
  background-color: #F0F0F0;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.btn-round{
  border-radius: 50%;
}
table.dataTable {
    width: 100% !important;
}
.btn-light{
    border: #d3d3d34f;
}
.inline{
  display: inline;
}
html {
  direction: rtl;
}
.user-position{
  position: fixed;
  left: 10px;
}

.user-size{
  font-size: 20px;
}
.user-position-mobile{
    // float: right;
}

.header {
   grid-area: header;
   height: 35px;
   background: #fff;
   width: 100%;
   right: 15vw;
   position: fixed;
   z-index: 9999;
   box-shadow: -10px 0px 6px 6px rgba(0, 0, 0, 0.2)
 }

.side {
   grid-area: menu;
   position: fixed;
   width: 15vw;
   height: 100%;
   z-index: 9999;
   box-shadow: 0px 45px 13px 10px rgba(0, 0, 0, 0.1);
}
.main {
  right: 15vw;
  width: 83vw;
  top: 30px;
  position: absolute;
  grid-area: main;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'menu header '
    'menu main '
    'menu main ';
width: 115

}


body {
  // overflow-x: hidden;
  height: 100%;
  width:100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

* {
  font-family: 'Rubik', sans-serif;
}

.hidden{
  display: none;
}

.icon-size{
  font-size:20px;
}

.icon-lg{
  font-size:30px;
}

.date-text{
  font-size: 0.85rem;
  color: grey;
}
.br-sm{
  line-height: 1;
}

.check-title { grid-area: title; }
.check-new { grid-area: new; }
.check-data { grid-area: data; }
.check-stat { grid-area: stat; }

.check-container {
  display: grid;
  grid-template-areas:
    'title title title title title '
    'stat data data data new';
  grid-gap: 1px;
  padding: 10px;
}

.check-container > div {
  text-align: center;
  padding: 1px 0;
}

.font-size-whatsapp{
  font-size: 30px
}

.url-width{
  min-width: 75px
}
.kid-info{
  height:500px;
  ul {

    list-style: none;
    padding:inherit;
      padding-left:25px;
    li {
      height:30px;
    }
  }
}


  #wrapper {
    text-align: right;
    // padding-right: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: 16% auto;
    // grid-column-gap: 2em;
  }




//
#page-content-wrapper {
  padding: 0.5em;
  padding-left: 0;
  padding-right: 0;
}
// @media(min-width:1025px) {
//   #page-content-wrapper {
//     width: 1800px;
//   }
// }
//
// #wrapper.toggled #page-content-wrapper {
//   position: absolute;
//   margin-right: -250px;
// }


/* Sidebar Styles */
.active {
  background: rgba(255, 255, 255, 0.2);


// .sidebar-nav>.sidebar-brand {
//   height: 65px;
//   font-size: 18px;
//   line-height: 60px;
// }
//
// .sidebar-nav>.sidebar-brand a {
//   color: #999999;
// }

.dropdown-element{
  text-align: right;
  margin: 5px
}

.dropdown-toggle::after {
  display:none;
}

  #navbar {
    display: none;
  }

.center-login{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.kid-info {
  width: auto;
  height: 800px;
  border: 4px solid lightgray;
  padding: 23px;
  border-radius: 20px;
  margin-bottom: 25px;
    ul {
      li {

        line-height: 30px;
      }
    }
}


.table-container {
}
.table-responsive {
    display: block;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // height: 84vh;
}
.page-wrapper-margin{
  margin-top: 50px !important;
}

div.dt-buttons {
  margin-left: 10px;
}
  // #wrapper {
  //   padding-left: 250px;
  // }
  //
  // #sidebar-wrapper {
  //   width: 250px;
  // }
  //
  // #page-content-wrapper {
  //   padding: 20px;
  //   position: relative;
  // }
  // #wrapper.toggled #page-content-wrapper {
  //   position: relative;
  //   margin-right: 0;
  // }


  #sidebar-wrapper {
    // background: #0984e3;
    z-index: 1000;
    height: 100%;
    color: #353535;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  }
  .sidebar-nav {

    // top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }


  .sidebar-nav li {
    text-align: right;
    line-height: 45px;
    font-size: 1.2em;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;

  }

  .sidebar-nav li a:hover {
    text-decoration: none;
    // color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }

  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  .sidebar-brand  {
    margin: 30%;
    a{
      color:white;
      margin: auto;
      text-align: center;
      width: 100%;
      text-indent:0;
      text-decoration: none;

      h1 {
        margin-top: 10px;
        line-height: 75px;
        font-family: 'Secular One', sans-serif;
      }
    }
  }
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }

  .btn-primary-cus-outline {
    color: #35CED4;
    background-color: #FFFFFF;
    border-color: #35CED4;
    border: 2px solid;
    font-weight: 400;
  }

  .btn-primary-cus-outline:hover,
  .btn-primary-cus-outline:focus,
  .btn-primary-cus-outline:active,
  .btn-primary-cus-outline.active,
  .open .dropdown-toggle.btn-primary-cus-outline {
    color: #fff;
    background-color: #35CED4;
    border-color: #35CED4;
  }

  .btn-primary-cus-outline:active,
  .btn-primary-cus-outline.active,
  .open .dropdown-toggle.btn-primary-cus-outline {
    background-image: none;
  }

  .btn-primary-cus-outline.disabled,
  .btn-primary-cus-outline[disabled],
  fieldset[disabled] .btn-primary-cus-outline,
  .btn-primary-cus-outline.disabled:hover,
  .btn-primary-cus-outline[disabled]:hover,
  fieldset[disabled] .btn-primary-cus-outline:hover,
  .btn-primary-cus-outline.disabled:focus,
  .btn-primary-cus-outline[disabled]:focus,
  fieldset[disabled] .btn-primary-cus-outline:focus,
  .btn-primary-cus-outline.disabled:active,
  .btn-primary-cus-outline[disabled]:active,
  fieldset[disabled] .btn-primary-cus-outline:active,
  .btn-primary-cus-outline.disabled.active,
  .btn-primary-cus-outline[disabled].active,
  fieldset[disabled] .btn-primary-cus-outline.active {
    background-color: #FFFFFF;
    border-color: #35CED4;
  }

  .btn-primary-cus-outline .badge {
    color: #FFFFFF;
    background-color: #35CED4;
    border-color: #35CED4;

  }

  @import "datatables";
  @import "mobile";
