$icomoon-font-family: "font-awesome" !default;
$icomoon-font-path: "fonts" !default;

$icon-whatsapp-brands: "\e913";
$icon-phone-solid: "\e914";
$icon-check-circle-regular: "\e908";
$icon-chevron-down-solid: "\e90b";
$icon-times-circle-regular: "\e910";
$icon-times-solid: "\e911";
$icon-download-solid: "\e912";
$icon-exclamation-triangle-solid: "\e900";
$icon-question-circle-regular: "\e901";
$icon-user-circle-solid: "\e902";
$icon-redo-solid: "\e903";
$icon-user-plus-solid: "\e904";
$icon-file-excel-solid: "\e905";
$icon-plus-solid: "\e906";
$icon-angle-left-solid: "\e907";
$icon-filter-solid: "\e909";
$icon-search-solid: "\e90a";
$icon-trash-alt-regular: "\e90c";
$icon-edit-solid: "\e90d";
$icon-bug-solid: "\e90e";
$icon-columns-solid: "\e90f";

