<h1>אוטובוסים</h1>
<div class="table-responsive">
  <table class="nowrap table table-hover" id="dttb-buses" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-dark">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="bus_counter" data-orderable="false" data-searchable="false">נוכחות</th>
        <th data-data="last_stop" data-orderable="false">תחנה אחרונה</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>

<% if current_staff.vip? %>
  <%= link_to 'יצירת אוטובוס חדש', new_bus_path %>

  <h2>הצעה לצירי אוטובוס</h2>
  <ul>
    <% if current_staff.staffable_type == "Mifal" %>
      <% Mifal.find(current_staff.staffable.id).make_bus_proposal.each do |key, value| %>
    <% else %>
      <% Mifal.find(current_staff.staffable.mifal.id).make_bus_proposal.each do |key, value| %>
    <% end %>
    <li> <%= "#{key}: #{value.join(', ')}" %> </li>
    <% end %>
  </ul>
<% end %>
