<h1>צוות</h1>
<h4>כניסה לתוך המשתמשים של הצוות</h4>

<%# link_to "יצירת אדמין חדש", new_axis_staff_path(Axis.first.id), class: "btn btn-primary-cus" %>

<div class="table-responsive">
  <table class="table table-hover" id="dttb-kids" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead class="thead-grey nowrap">
      <tr>
        <th data-data="name">שם</th>
        <th data-data="username">שם משתמש</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

  </table>
</div>
