<%# if current_staff.admin?
  @events = Event.all.order('created_at DESC').includes(:staff, :eventable)
else
  @events = current_staff.staffable.all_events.sort_by {|event| event.created_at}.reverse!
  # @events = Event.where("created_at > ?", 10.days.ago)
end %>
<div class="">
  <% @events = current_staff.staffable.all_events %>
  <% if @level == 1 %>
    <% @events = @events.where("updated_at > ?", 3.days.ago).order(created_at: :asc).last(3) %>
  <% else %>
    <% @events = @events.reject{ |event| event.updated_at < 3.days.ago }.last(3) %>
  <% end %>
  <% if @events.present? %>
    <h5>אירועים אחרונים</h5>
    <ul>
      <% @events.each do |event| %>
        <% if event.critical? %>
          <li style="color: red"><%= event.content %></li>
        <% else %>
          <li><%= event.content %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
