<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "מטה", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "בית", root_path, class: "nav-link" %>
      </li>
      <% if staff_signed_in? %>
      <li class="nav-item active">
        <%= link_to "התנתקות", destroy_staff_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
    <span class="navbar-text">
      שלום <%= current_staff.name %>
    </span>
    <% end %>
  </div>
</nav>
